@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

*{
    font-family: 'Poppins',cursive;
}
body{
    color: rgb(255, 223, 223);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#fce8e8;
}

.greetings{
    margin: 7rem;
    padding: 0rem 0rem 0rem 0rem;
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    padding-top: 9rem;
    animation: glow 3s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #800000;
        text-shadow: 0 0 12px #ffebeb, 0 0 50px #da7979, 0 0 100px #940808;
    }
    10%, 90%{
        color: #fcafaf;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11){
    animation-delay: 2s;
}
.greetings > span:nth-child(12){
    animation-delay: 2.2s;
}
.greetings > span:nth-child(13){
    animation-delay: 2.4s;
}
.greetings > span:nth-child(14){
    animation-delay: 2.6s;
}
.greetings > span:nth-child(15){
    animation-delay: 2.8s;
}
.greetings > span:nth-child(16){
    animation-delay: 3s;
}
.greetings > span:nth-child(17){
    animation-delay: 3.2s;
}
.greetings > span:nth-child(18){
    animation-delay: 3.4s;
}
.greetings > span:nth-child(19){
    animation-delay: 3.6s;
}
.greetings > span:nth-child(20){
    animation-delay: 3.8s;
}
.greetings > span:nth-child(21){
    animation-delay: 4s;
}
.greetings > span:nth-child(22){
    animation-delay: 4.2s;
}

.description{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color:#750808;
}
button{
    background-color: #ffbbbb;
    border-radius: 8px;
}
.button a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #800000;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .2rem;
    }
}
